.list {
    /*float: left;*/
    margin-left: 0; 
    height: auto;
    display: block;
    /*vertical-align: middle;*/
}

.list-item {
    margin-left: 0;
    margin-bottom: 5px;
    width: 200px !important;
    display: flex;
    float: left;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.icon {
    height: auto;
    width: auto;
    padding-left: 5px;
}

.text {
    margin: 0;
    margin-left: 5px;
    text-align: center;
    white-space: nowrap;
}

.container-item {
    float: left;
    z-index:1;
    /*vertical-align: top;*/
    /*font-size: 12px;*/
}

.nav-container {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}