.list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    align-items: flex-end;
    margin-left: 10px;
    margin-bottom: 10px;
}

.image-wrapper {
    width: 300px;
}

.page-container {
    height: auto;
}

.price-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-row {
    display: flex;
}

.container-cell {
    float: left;
    width: 200px !important;
    /*vertical-align: top;*/
    /*font-size: 12px;*/
}

.price {
    font-size: 30px;
}

.strike {
    padding-left: 20px;
    text-decoration: line-through;
}

.image-style {
    width: 300px;
}

.image-style:hover {
    transform: scale(1.02);
}

.search-bar {
    margin-top: 20px;
}

@media(max-width: 600px) {
    .game-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 150px;
        align-items: flex-end;
        margin: 10px;
    }
    
    .image-style {
        width: 150px;
    }
    
    .image-wrapper {
        width: 150px;
    }
    .price {
        font-size: 15px;
    }
    
    .nav-container {
        margin: 0;
        margin-left: -15px;
        margin-right: -20px;
    }
}