.list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    align-items: flex-end;
    margin: 10px;
}

.image-wrapper {
    width: 300px;
}

.page-container {
    height: auto;
    padding-left: 10px;
}

.price-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-row {
    display: flex;
}

.price {
    font-size: 30px;
}

.strike {
    padding-left: 20px;
    text-decoration: line-through;
}

.image-style {
    width: 300px;
}

.image-style:hover {
    transform: scale(1.02);
}

.search-bar {
    margin-top: 20px;
}

#first {
    float: left;
}