/*html, body {*/
/*    position: fixed;*/
/*    height: 1200px;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*}*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

img {
    width: inherit;
    height: auto;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Courier, monospace;
    text-decoration: underline;
}

h3 {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.about-text {
    margin: 20px;
    line-height: 100px;
    min-width: 600px;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
}

.footer-item {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: auto;
}

.logo {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
}

.menu {
    font-size: 27px !important;
}

.about-photo {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 50px 0;
    justify-content: center;
    align-self: center;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid-item {
    width: 400px;
    margin: 10px;
    align-self: center;
    justify-content: center;
    display: flex;
    flex: 1;
}

.review {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    border-right: 1px solid #000000;
}

.review-grid-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.review-text {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.review-grid {
    justify-content: center;
    display: grid;
    width: 85%;
    grid-template: auto / auto auto;
    grid-template-columns: 20% 80%;
}

.stars {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
}